@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --main-color: #ffffff;
    --secondary-color: rgb(0, 0, 0);
}

#title{
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
}

.first-page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: url(bridge.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

.first-page header{
    background: rgb(0,0,0,.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    flex-basis: 60px;
    gap: 20px;
}
.first-page header a, .games{
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.8rem;
}
.first-page header a:hover, .visibility-container:hover .games {
    color: rgb(162, 162, 162);
}

.games{
    cursor: pointer;
    flex-basis: 300px;
    flex-shrink: 0;
}

#push-left{
    margin-right: auto;
}


.visibility-container{
    text-align: center;
    width: 100px;
}
.visibility-unit{
    background: rgb(0,0,0,.5);

    display: none;
    position: absolute;
    padding: 10px;
}
.visibility-container:hover .visibility-unit{
    display: block;
}

#second-page{
    position: relative;
    height: 100vh;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.second-page-on{
    background: #326085;
}
.second-page-off{
    background: black;
}
.title1{
    font-size: 2em;
}
.title2{
    color: #326085;
    font-size: 2em;
}

#switch-holder{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
#switch-holder div{
    height: 100px;
    border: 1px solid black;
    transition: width .2s;
}
.switchOn{
    background: black;
    width: 100px;

}
.switchOff{
    width: 200px;
    background: white;
}

@media (max-width: 500px){
    .switchOff{
        width: 150px;
    }
    .switchOn{
        width: 75px;
    }
}