*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --main-color: #ffffff;
    --secondary-color: rgb(0, 0, 0);
}

.first-page{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: var(--main-color);
}
.first-page header{
    background: var(--secondary-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    flex-basis: 60px;
    gap: 20px;
}
.first-page header a, .games{
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.8rem;
}
.first-page header a:hover, .games:hover{
    color: rgb(0, 255, 26);
}

.games{
    cursor: pointer;
}

#push-left{
    margin-right: auto;
}


.visibility-container{
    text-align: center;
    background: black;
    width: 100px;
}
.visibility-unit{
    background: inherit;
    display: none;
    position: absolute;
    padding: 10px;
}
.visibility-container:hover .visibility-unit{
    display: block;
}