*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --green: #32CD32;
    --yellow: yellow;
    --gray: rgb(200, 200, 200);
}

#grid-container{
    background: rgb(240,240,240);
    z-index: -1;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#header{
    display: flex;
    font-size: 4em;
    align-items: center;
    justify-content: center;
}
#game{
    padding: 10px;
    gap: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.letter-box{
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

.row{
    display: flex;
    justify-content: center;;
    width: 100%;
    gap: 2px;   
}

.letter{

    font-size: 2em;
    justify-content: center;
    align-items: center;
}

.partial-guessed{
    background: var(--yellow);
}

.fully-guessed{
    background: var(--green);
}

.not-in-word{
    background: rgb(200,200,200);
}


#end{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.3);
    transform: translate(-50%, -50%);
}
.hidden{
    display: none;
}

#end-box{
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vw;
    background: rgba(0,0,0,.8);
    border-radius: 10px;
    padding: 10px;
}

#win{
    color: white;
    text-align: center;
}

#lose{
    color: white;
    text-align: center;
}

@keyframes newLetter {
    0% {width: 100px;
    height: 100px;}
    50% {width: 110px;
    height: 110px;}
    100% {width: 100px;
    height: 100px;}
}

.newLetterEEEEEEEEE{
    animation: newLetter .2s;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  #keyboard{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
  }

  .rowOfKeys{
      display: flex;
      flex-direction: row;
      gap: 2px;

  }
  
  .key{
      font-size: 2em;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .letterKey{
    width: 40px;
    height: 40px;
  }
  
  
.gray{
      background: var(--gray);
  }
.yellow{
    background: var(--yellow);
}
.green{
    background: var(--green);
}

.important-buttons{
    display: flex;
    gap: 25vw;
}

