*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.grid-container{
    background: rgb(235, 235, 235);
}
#grid-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#header{
    grid-area: h;
    display: flex;
    font-size: 4em;
    align-items: center;
    justify-content: center;
}
#game{
    gap: 2px;
    grid-area: m;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.letter-box{
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.row{
    display: flex;
    justify-content: center;;
    width: 100%;
    gap: 2px;   
}

.letter{

    font-size: 3em;
    justify-content: center;
    align-items: center;
}

.partial-guessed{
    background: yellow;
}

.fully-guessed{
    background: #32CD32;
}

.not-in-word{
    background: rgb(200,200,200);
}

.win{
    background: green;
}

#end{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.3);
    transform: translate(-50%, -50%);
}
.hidden{
    display: none;
}

#end-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 70vw;
    background: rgba(0,0,0,.8);
    border-radius: 10px;
    padding: 10px;
}

#win{
    color: white;
    text-align: center;
}

#lose{
    color: white;
    text-align: center;
}

@keyframes newLetter {
    0% {width: 100px;
    height: 100px;}
    50% {width: 110px;
    height: 110px;}
    100% {width: 100px;
    height: 100px;}
}

.newLetterEEEEEEEEE{
    animation: newLetter .2s;
}

