@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

:root{
    --primaryColor: rgb(212, 212, 212);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
body{
    background: var(--primaryColor);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
    grid-template-areas: 
        'h h h h'
        'stats stats time buy'
        'stats stats actions buy'
        'a a a a'
        'a a a a';
}
@media (max-width: 800px){
    body{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'h h'
            'stats stats'
            'stats stats'
            'time buy'
            'actions buy';
    }
}
.introPopUp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#introPopUp{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    overflow-Y: scroll;

    padding: 20px;
}

#introPopUp *{
    color: white;
}
#divider{
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    height: 400px;
    background: black;
    border-radius: 2px;
    overflow-y: scroll;
    border: 1px solid white;
    padding: 10px 20px;
}
#beginGame{
    background: black;
    padding: 10px;
    margin-top: 20px;
    font-size: 1.5em;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
}
header{
    grid-area: h;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    font-weight: 900;
    font-size: 2em;
}

.displaySection{
    background: rgba(0,0,0,.1);
    border: 1px solid black;
}
#stats{
    grid-area: stats;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
#actions{
    grid-area: actions;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button, #buy button{
    background: white;
    padding: 5px 40px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px black;
    min-width: 150px;
    font-size: 1rem;
    text-align: center;

}
.button:active, #buy button:active{
    background: rgb(240,240,240);
    transform: translate(2px, 2px);
    box-shadow: none;
}
#time{
    grid-area: time;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#time h1{
    text-align: center;    
}
#buy{
    grid-area: buy;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
#reset{
    
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#settingsDropdownContainer{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 80px;
    height: 25px;
}
#settingsDropdownContainer:hover #settingsDropdown{
    transform: translateY(0);

}

#settingsDropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .3s;
    transform: translateY(-25px);

    height: 30px;
    
    background: rgba(0,0,0,.2);
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    border-top: 0px;
}

#settingsButton{
    cursor: pointer;
}
.settingsMenu{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color: var(--primaryColor);
    border: 5px solid black;
    border-radius: 5px;
    gap: 10px;
}
#settingsMenuX{
    font-weight: 900;
    cursor: pointer;
    position: absolute;
    right: 0px;
    padding: 0 5px;
    top: 0px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;

}

.hidden{
    display: none;
}